<!DOCTYPE html>
<html>
<head>
  <title>Microsoft Cognitive Services Speech SDK JavaScript Quickstart</title>
  <meta charset="utf-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/style.css') }}">
</head>
<body style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:13px;">
  
  
  <div id="content" style="text-align: center;">
    <div class="container">
      <!-- <br> -->
      <div>
        <div>
          <br>
          <img src="https://www.edu.gov.qa/PublishingImages/LOGO%20NEW%20EDU-%20AR.png" height="100px" width="115px"/>
        </div>
        <p class="lead">
          Ministry of Education and Higher Education
        </p>
    </div>
    <hr>
    <div class="w-auto" >
     
      <img height="120" width="120" src="{{url_for('static',filename='images/mic.jpg') }}">
      
    </div>
    <br>
    <div class="text-align: center">
      <div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="languageSourceOptions" style="text-align: right;" >Language</label>
          <div class="col-sm-8">
          <select id="languageSourceOptions" width="100%" class="form-control" aria-label="Default select example">
            <option selected="selected" value="ar-QA">Arabic - QA</option>
            <option  value="de-DE">German - DE</option>
            <option value="en-US">English - US</option>
            <option value="es-ES">Spanish - ES</option>
            <option value="fi-FI">Finnish - FI</option>
            <option value="fr-FR">French - FR</option>
            <option value="hi-IN">Hindi - IN</option>
            <option value="it-IT">Italian - IT</option>
            <option value="ja-JP">Japanese - JP</option>
            <option value="ko-KR">Korean - KR</option>
            <option value="pl-PL">Polish - PL</option>
            <option value="pt-BR">Portuguese - BR</option>
            <option value="ru-RU">Russian - RU</option>
            <option value="sv-SE">Swedish - SE</option>
            <option value="zh-Hans">Chinese - Simplified</option>
          </select>
        </div>
        </div>
        <!-- <div class="form-check form-check-inline">
          <label class="label">Target Language</label>
          <select id="languageTargetOptions" width="100%" class="form-select" aria-label="Default select example">
            <option value="ar">Arabic</option>
            <option value="de">German</option>
            <option selected="selected" value="en">English</option>
            <option value="es">Spanish</option>
            <option value="fi">Finnish</option>
            <option value="fr">French</option>
            <option value="hi">Hindi</option>
            <option value="it">Italian</option>
            <option value="ja">Japanese</option>
            <option value="ko">Korean</option>
            <option value="pl">Polish</option>
            <option value="pt">Portuguese</option>
            <option value="ru">Russian</option>
            <option value="sv">Swedish</option>
            <option value="zh-Hans">Chinese</option>
          </select>
        </div>   -->
    <br>
    <br>
    <div>
      <button id="startRecognizeOnceAsyncButton" class="btn btn-primary" style="text-align: center;">Speak</button></td>
    </div>
  </div>
  </div>
  </div>

  <footer class="footer">
    <div class="container">
      <span class="text-muted"> Developed by: <a href="https://techvista.com">Techvista</a></li></span>
    </div>
  </footer>

  <!-- Speech SDK reference sdk. -->
  <script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
  <!-- <script src="./speechSDK/speechSDK.js"></script> -->
  <!-- Speech SDK USAGE -->
  <script src="{{url_for('static', filename='js/speech.js')}}"></script>

</body>
</html>